@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&display=swap');
@import "tailwindcss";
:root {
    font-family: "Inter", sans-serif;
    background: #000000;
}

.typing {
    overflow: hidden;
    /* Ensures text is hidden while typing */
    white-space: nowrap;
    /* Prevents wrapping */
    border-right: 2px solid #22c55e;
    /* Green cursor */
    width: 0;
    animation: typing 4s steps(30, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}